body {
    text-align: center;
    width: 500px;
}
h4 {
    margin: 10px 10px 10px 10px;
}
#completed-group {
    background-color: LightBlue;
    border: 2px dashed blue;
}
#completed-task-home {
    border: 5px solid DarkGreen;
}
#completed-task-home div div {
    display: inline;
}
#incompleted-group {
    background-color: silver;
    border: 2px dashed black;
}
#incompleted-task-home {
    border: 5px solid DarkRed;
}
#incompleted-task-home div div {
    display: inline;
}
#taskName {
    width: 125px;
}
#taskSummary {
    margin: 5px 0px 5px 0px;
    width: 175px;
}
.completed {
    border: 2px solid Green;
    background-color: LightGreen;
}
.eachTask {
    border: 2px solid red;
    background-color: pink;
    text-align: center;
}
.form-group {
    display: block;
}
.pastTaskName {
    display: inline;
}
.submitted-summary {
    display: block;
    margin: 5px 0px 5px 178px;
}
.task-title {
    display: inline;
}
