body {
    text-align: center;
    width: 500px;
}
.form-group {
    display: block;
}
.summary {
    margin-top: 5px;
}
#taskName {
    width: 136px;
}
.eachTask {
    margin-top: 10px;
    border: 2px solid red;
    background-color: pink;
    text-align: center;
}
#task-home div div {
    display: inline;
}
.completed {
    margin-top: 10px;
    border: 2px solid DarkGreen;
    background-color: LightGreen;
}
.task-title{
  display: block;
}
.submitted-summary{
  display: block;
  margin: 5px 0px 5px 178px;
}
